In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(columns=['x1','x2','x3','x4'])
c = np.array([[10,-1,2,0,6],[-1,11,-1,3,25],[2,-1,10,-1,-11],[0,3,-1,8,15]])

x = np.zeros(len(c))
for k in range(0,9):
    for i in range(0,len(c)):
        y = 0
        for j in range(0,len(c)):
            if i != j:
                y = y + (c[i][j] * x[j])
        y = c[i][len(c)] - y
        x[i] = y / c[i][i] 
    df.loc[k+1] = [x[0],x[1],x[2],x[3]]
        
round(df,4)

       x1      x2      x3      x4
1  0.6000  2.3273 -0.9873  0.8789
2  1.0302  2.0369 -1.0145  0.9843
3  1.0066  2.0036 -1.0025  0.9984
4  1.0009  2.0003 -1.0003  0.9998
5  1.0001  2.0000 -1.0000  1.0000
6  1.0000  2.0000 -1.0000  1.0000
7  1.0000  2.0000 -1.0000  1.0000
8  1.0000  2.0000 -1.0000  1.0000
9  1.0000  2.0000 -1.0000  1.0000